.input-group {
    &__input {
        padding: 10px;
        background-color: $color-dark-blue;
        border: 1px solid $color-white;
        border-radius: 7px;
        color: $color-white;
    }
    
    &__num {
        width: 180px;
    }

    &__sign {
        width: 70px;
    }

    &__equals {
        color: $color-white;
    }

    
    
}

.sign-group {
    display: inline-block;
    position: relative;

    &__sign {
        cursor: pointer;
    }

    &__list {
        position: absolute;
        left: 0;
        width: 100%;
        border: 1px solid $color-white;
        padding: 10px;
    }

    &__item {
        cursor: pointer;
    }
}