.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/stars.png');
    background-position: 0 0;
    background-repeat: repeat;
    animation: animated-bg 60s linear infinite;

    &__title {
        font-size: 36px;
        margin-bottom: 80px;
        line-height: 36px;
        margin-top: 60px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
  .main{
    background: none;
  }
}