.header {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        bottom: 0;
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 12px;

    &__burger {
        display: none;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__logo img {
        width: 222px;
        height: auto;
    }

    &__title {
        font-family: 'Inter';
        font-size: 36px;
        line-height: 44px;
        margin-left: 30px;
    }

    &__link {
        font-family: 'Inter';
        font-size: 24px;
        line-height: 29px;
        text-decoration: none;
        color: $color-main;

        &:hover {
            color: $color-grey;
        }

        &:not(:last-child) {
            margin-right: 40px;
        }

        &.header-inner__sign_active {
            color: $color-dark-blue;
        }
    }
}

@media screen and (max-width: 1199px) {
    .header-inner {
        &__title {
            font-size: 28px;
            line-height: 34px;
        }

        &__link {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        
    }
}

@media screen and (max-width: 767px) {
    .header-inner {
        &__logo img {
            width: 124px;
        }

        &__title {
            font-size: 24px;
            line-height: 29px;
        }

        &__link {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

@media screen and (max-width: 575px) {
    .header-inner {
        &__menu {
            display: none;
        }

        &__burger {
            display: block;
        }

        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-left: 10px;
        }
    }
}