
@keyframes animated-bg {
  from { background-position: 0 0; }
  to { background-position: 0 100vh; }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  min-width: 320px;
  color: $color-white;
  background-color: $color-dark-blue;;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 15px;
}

