.header {
    position: fixed;
    width: 100%;
    z-index: 2;

    &__top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $color-blue;
        background-image: linear-gradient(to bottom right, $color-white, $color-blue);
        height: 80px;

        &-inner {
            display: flex;
            align-items: center;
        }

        &-logo {
            margin-right: 20px;
        }

        &-title {
            font-size: 52px;
        }
    }
 
    &__bottom {
        background-color: $color-white;

        &-inner {
            display: flex;
            height: 60px;
            z-index: 2;
        }

        &-pointer {
            flex: 1 1 100%;
        }

        &-letters {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            font-weight: 600;
        }

        &-anchor {
            text-decoration: none; 
            color: $color-main;

            &:hover {
                color: $color-blue;
            }
        }

        &-letter {
            cursor: pointer;
            font-size: 16px;
            
            &_inactive {
                cursor: default;
                color: $color-grey;
            }
        }
    }
}