.main {
    padding-top: 140px;
    background-color: $color-white;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__sidebar {
            position: relative;
            flex: 1 1 30%;
            align-self: flex-start;
        }

        &__content {
            flex: 1 1 70%;
        }
    }

    &-sidebar {
        &__links {
            position: fixed;
            top: 150px;
        }

        &__title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        &__img {
            margin-right: 7px;
        }

        &__link {
            text-decoration: none;
            color: $color-main;
            font-size: 16px;
            position: relative;
            left: 20px;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: -20px;
                width: 16px;
                height: 16px;
                transform: translateY(-50%);
            }

            &.google:before {
                background: url("../img/google.png") no-repeat;
                background-size: 16px 16px;
            }

            &.mail:before {
                background: url("../img/mail.png") no-repeat;
                background-size: 16px 16px;
            }

            &.yandex:before {
                background: url("../img/yandex.png") no-repeat;
                background-size: 16px 16px;
            }

            &:hover {
                color: $color-blue;
            }
        }
    }
}

.content {
    &__page {
        border-top: 140px solid transparent;
        margin-top: -140px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-radius: 7px;
    }

    &__item:nth-child(even) {
        background-color: $color-light-grey;
    }

    &__title {
        background-color: $color-blue;
        position: sticky;
        top: 140px;
        padding: 10px;
        border-radius: 7px;
        font-weight: 600;
        font-size: 16px;
    }
}